* {
    padding: 0%;
    margin: 0%;
    font-family: "Amiri", serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: "Amiri", serif;
}

body {
    background-color: #1e402a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    width: 70%;
    /* background-color: white; */
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px;
}


.question-container .header {
    height: 10vh;
    width: 95%;
    padding: 0 1vw;
    /* background: #606E52; */
    background-color: white;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow:rgba(0, 0, 0, 0.5)  0px 0px 0px 10px ; */
    border-bottom: 1px solid black;
}


.question-container .header .title {
    font-size: 2rem;
    font-weight: 600;
    width: 75%;
}

.question-container .header .timer {
    width: 11vw;
    height: 8vh;
    color: #1e402a;
    background: #C0CCA4;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-container .header .timer .time-text {
    font-size: 1.2rem;
    font-weight: 400;
}

.question-container .timer .time-sec {
    font-size: 1.8rem;
    font-weight: 700;
    /* height: 30px;
    width: 45px; */
    /* color: #fff; */
    color: red;
    /* border-radius: 5px; */
    /* line-height: 30px; */
    text-align: center;
    /* background: #131e17;
    border: 1px solid #131e17; */
}

.question-container .body-section .time-line {
    height: 0.3vh;
    background-color: red;
    width: 0px;
}

.body-section {
    /* padding: 25px 30px 20px 30px; */
    /* padding-top: 1rem; */
    width: 98%;
    height: 65vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 0px;
}

.body-section .question {
    font-size: 2rem;
    font-weight: 600;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;

}

.question-opthion-class {
    width: 100%;
    /* height: 50vh; */
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-section .question-opthion-class button {
    width: 98%;
    height: 30%;
    /* display: block; */
    margin-right: 10px;
    padding-right: 1rem;
    text-align: start;
    padding-right: 1rem;
    background-color: burlywood;
    border: 2px solid rgb(205, 164, 111);
    /* background-color: white;
    border: 2px solid #474747; */
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-section .question-opthion-class button:hover {
    background-color: rgb(184, 147, 98);
}

.body-section .question-opthion-class button.successbtn {
    /* background-color: #606E52; */
    color: #155724;
    background-color: #C0CCA4;
    border: 1px solid #ccd4ba;
}

.body-section .question-opthion-class button.wrongbtn {
    color: #721c24;
    background-color: #f9c9c9;
    border: 1px solid #f5c6cb;
}

.body-section .question-opthion-class button.disabled {
    pointer-events: none;
}

/*  */

.footer {
    /* border-top: 1px solid lightgrey; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
    width: 96.2%;
    height: 9vh;
    /* box-shadow:rgba(0, 0, 0, 0.5)  0px 3px 10px ; */
}

.footer button {
    color: white;
    width: 10vw;
    height: 8vh;
    text-align: center;
    background-color: rgb(71, 47, 18);
    border: 2px solid rgb(115, 82, 43);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
}

.footer button:hover {
    background: rgb(131, 94, 49);
}

.footer button.show {
    opacity: 1;
    pointer-events: auto;
}

.windiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    background-color: white;
    height: 87vh;
    border: 4px solid purple;
}

.buttonWin {
    width: 15vw;
    height: 7vh;
    background-color: burlywood;
    border: 2px solid rgb(205, 164, 111);
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}


.buttonWin:hover {
    background-color: rgb(184, 147, 98);
}

.image {
    width: 33vw;
    height: 70vh;
}

/*  */

@media only screen and (max-width:600px) {
    .question-container {
        height: 115vh;
        width: 96%;
        padding-top: 10px;
    }
}