/* 
dark green #1e402a

#474747 \\gray
#8F8B84 \\light gray
#606E52 \\ light green .good
#91A56E \\ lighter green  good 
#C0CCA4 \\ very light green  good 

FONT 
 "Changa"  
Amiri


body background : 
f0ece8 
f3f3f3
e6d8c2


*/

* {
    padding: 0%;
    margin: 0%;
    font-family: "Amiri", serif;
}

body {
    background-color: #f3f3f3;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: #1e402a;
    height: 19vh;
}

.image {
    width: 15vw;
    height: 19vh;
}

/* header */

.header-container {
    margin-top: 1rem;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 95%;
    height: 90vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1e402a;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* color: white; */
    color: #C0CCA4;
    font-size: 1.3rem;
    line-height: 2;
}

.header-text p {
    font-size: 1.5rem;
    /* margin-bottom: 10px; */
}


.header-text span {
    text-decoration: underline;
    cursor: pointer;
}

/* options  */

.opthions-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90vh;
    /* background-color: burlywood; */

}

.opthion {
    width: 30vw;
    height: 70vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    border-radius: 10px;
    position: relative;
}

.image-options {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.option-text {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15vh;
    text-align: center;
    font-size: 2rem;
    /* color: #f3f3f3; */
    color: #C0CCA4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.option-text a:hover {
    transform: translateY(-5px);
    color: #91A56E;
}



@media only screen and (max-width:600px) {

    .image {
        width: 39vw;
        height: 19vh;
    }

    .opthions-container {
        flex-wrap: wrap;
        height: 220vh;
    }

    .opthion {
        width: 90%;
        height: 70vh;
    }

    .image-options {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .option-text {
        font-size: 2.8rem;
    }

    .header-text {
        padding-right: 10px;
    }

}